---
apiVersion: v1
kind: Secret
metadata:
  name: openai-api-key
  namespace: {{ chatbot_namespace }}
type: Opaque
stringData:
  value: {{ openai_api_key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: rds-chatbot-username
  namespace: {{ chatbot_namespace }}
type: Opaque
stringData:
  value: {{ rds_chatbot_username }}
---
apiVersion: v1
kind: Secret
metadata:
  name: rds-chatbot-password
  namespace: {{ chatbot_namespace }}
type: Opaque
stringData:
  value: {{ rds_chatbot_password }}
