---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/part-of: chatbot
  name: chatbot
  namespace: {{ chatbot_namespace }}
spec:
  selector:
    app: chatbot
  type: ClusterIP
  ports:
  - name: http-port-app
    port: 3000
    targetPort: http-port-app
