global:
  storageClass: "gp2"
  postgresql:
    auth:
      postgresPassword: "TXpa5mOmZlEy43jYAk^4bgplk"
      username: "metabase_udb"
      password: "t$4Q41J4KL805q*jI*LhpYdP8"
      database: "metabase_db"
