---
apiVersion: v1
kind: Secret
metadata:
  name: intercom-access-token
  namespace: {{ support_namespace }}
type: Opaque
stringData:
  value: {{ intercom_access_token }}
---
apiVersion: v1
kind: Secret
metadata:
  name: rds-support-username
  namespace: {{ support_namespace }}
type: Opaque
stringData:
  value: {{ rds_support_username }}
---
apiVersion: v1
kind: Secret
metadata:
  name: rds-support-password
  namespace: {{ support_namespace }}
type: Opaque
stringData:
  value: {{ rds_support_password }}
