---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/part-of: support
  name: support
  namespace: {{ support_namespace }}
spec:
  selector:
    app: support
  type: ClusterIP
  ports:
  - name: http-port-app
    port: 3000
    targetPort: http-port-app
