global:
  storageClass: "gp2"
  postgresql:
    auth:
      postgresPassword: "mVRy*6y8Zvhsc&Qdks43x%5z"
      username: "retool_udb"
      password: "sVne75SZ@KMW01MW^BQugpfm"
      database: "retool_db"
