---
apiVersion: v1
kind: Secret
metadata:
  name: mongodb-username
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  username: {{ docdb_datacore_username }}
---
apiVersion: v1
kind: Secret
metadata:
  name: mongodb-password
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  password: {{ docdb_datacore_password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: twilio-sid
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  sid: {{ twilio_account_sid }}
---
apiVersion: v1
kind: Secret
metadata:
  name: twilio-token
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  token: {{ twilio_auth_token }}
---
apiVersion: v1
kind: Secret
metadata:
  name: grid-apikey
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  apikey: {{ send_grid_api_key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: unagi-ca-crt
  namespace: {{ datacore_namespace }}
type: Opaque
data:
  ca.crt: "{{ unagi_ca_pubkey | b64encode }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: twilio-callout-api-key
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  value: {{ twilio_callout_api_key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: twilio-callout-api-key-secret
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  value: {{ twilio_callout_api_key_secret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: twilio-callout-app-sid
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  value: {{ twilio_callout_app_sid }}
---
apiVersion: v1
kind: Secret
metadata:
  name: twilio-callout-callback-secret
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  value: {{ twilio_callout_callback_secret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: rds-datac-username
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  value: {{ rds_datac_username }}
---
apiVersion: v1
kind: Secret
metadata:
  name: rds-datac-password
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  value: {{ rds_datac_password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: stripe-api-key
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  value: {{ stripe_api_key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: stripe-webhook
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  value: {{ stripe_webhook }}
---
apiVersion: v1
kind: Secret
metadata:
  name: captcha-secret
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  value: {{ captcha_secret_token }}
---
apiVersion: v1
kind: Secret
metadata:
  name: captcha-site-secret
  namespace: {{ datacore_namespace }}
type: Opaque
stringData:
  value: {{ captcha_site_secret_token }}