---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: datacore
  namespace: {{ datacore_namespace }}
spec:
  endpoints:
  - interval: 30s
    path: /metrics
    port: http-port-app
  namespaceSelector:
    matchNames:
    - datacore
  selector:
    matchLabels:
      app.kubernetes.io/part-of: datacore
