---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: agora-token-service
  namespace: {{ agora_namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: agora-token-service
  template:
    metadata:
      labels:
        app: agora-token-service
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app: agora-token-service
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              topologyKey: failure-domain.beta.kubernetes.io/zone
              labelSelector:
                matchLabels:
                  app: agora-token-service
      volumes:
      - name: nginx-config
        configMap:
          name: middleman-nginx-config
      - name: unagi-ca
        secret:
          defaultMode: 420
          secretName: unagi-ca-crt    
      containers:
      - name: agora-token-service
        image: {{ ecr_url }}/agora-token-service:913568488-main-17b0a235
        imagePullPolicy: Always
        ports:
        - name: http-port-app
          containerPort: 9595
        env:
          - name: APP_CERTIFICATE
            valueFrom:
              secretKeyRef:
                name: agora-token-service-app-certificate
                key: token
          - name: PORT
            value: "9595"
          - name: APP_ID
            value: "{{ agora_token_service_app_id }}"
        resources:
          limits:
            cpu: "200m"
            memory: "200Mi"
          requests:
            cpu: "100m"
            memory: "100Mi"
        readinessProbe:
          httpGet:
            path: /rtc/fsda/publisher/uid/646464556444698
            port: http-port-app
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /rtc/fsda/publisher/uid/646464556444698
            port: http-port-app
          initialDelaySeconds: 30
          periodSeconds: 10
      - name: nginx
        image: {{ ecr_url }}/custom-openresty:919138171-main-4225f64d
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d
        - name: unagi-ca
          mountPath: /etc/nginx/conf.d/crt
          readOnly: true
        imagePullPolicy: Always
        ports:
        - name: http-port
          containerPort: 80
        resources:
          limits:
            cpu: "200m"
            memory: "200Mi"
          requests:
            cpu: "100m"
            memory: "100Mi"
        readinessProbe:
          httpGet:
            path: /rtc/fsda/publisher/uid/646464556444698
            port: http-port
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /rtc/fsda/publisher/uid/646464556444698
            port: http-port
          initialDelaySeconds: 30
          periodSeconds: 10
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: agora-token-service
  namespace: {{ agora_namespace }}
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: agora-token-service
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: agora-token-service
  namespace: {{ agora_namespace }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: agora-token-service
  minReplicas: 2
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80
