apiVersion: v1
kind: Secret
metadata:
  name: msgc-config
  namespace: msgc
type: Opaque
stringData:
  cluster_secret: {{ msgc_cluster_secret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: rds-msgc-username
  namespace: {{ msgc_namespace }}
type: Opaque
stringData:
  username: {{ rds_msgc_username }}
---
apiVersion: v1
kind: Secret
metadata:
  name: rds-msgc-password
  namespace: {{ msgc_namespace }}
type: Opaque
stringData:
  password: {{ rds_msgc_password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: unagi-ca-crt
  namespace: {{ msgc_namespace }}
type: Opaque
data:
  ca.crt: "{{ unagi_ca_pubkey | b64encode }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: unagi-signing-key
  namespace: {{ msgc_namespace }}
type: Opaque
data:
  ca.crt: "{{ unagi_ca_pubkey | b64encode }}"
  ca.key: "{{ unagi_ca_privkey | b64encode }}"
