apiVersion: v1
kind: Secret
metadata:
  name: mongodb-username
  namespace: {{ notification_namespace }}
type: Opaque
stringData:
  username: {{ docdb_datacore_username }}
---
apiVersion: v1
kind: Secret
metadata:
  name: mongodb-password
  namespace: {{ notification_namespace }}
type: Opaque
stringData:
  password: {{ docdb_datacore_password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: twilio-sid
  namespace: {{ notification_namespace }}
type: Opaque
stringData:
  sid: {{ twilio_account_sid }}
---
apiVersion: v1
kind: Secret
metadata:
  name: twilio-token
  namespace: {{ notification_namespace }}
type: Opaque
stringData:
  token: {{ twilio_auth_token }}
---
apiVersion: v1
kind: Secret
metadata:
  name: grid-apikey
  namespace: {{ notification_namespace }}
type: Opaque
stringData:
  apikey: {{ send_grid_api_key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: unagi-ca-crt
  namespace: {{ notification_namespace }}
type: Opaque
data:
  ca.crt: "{{ unagi_ca_pubkey | b64encode }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: google-service-account
  namespace: {{ notification_namespace }}
type: Opaque
data:
  google_service_account.json: {{ notification_google_service_account | b64encode }}
