apiVersion: v1
kind: Secret
metadata:
  name: storage-access-key
  namespace: {{ storage_service_namespace }}
type: Opaque
stringData:
  accesskey: {{ storage_access_key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: storage-secret-key
  namespace: {{ storage_service_namespace }}
type: Opaque
stringData:
  secretkey: {{ storage_secret_key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: unagi-ca-crt
  namespace: {{ storage_service_namespace }}
type: Opaque
data:
  ca.crt: "{{ unagi_ca_pubkey | b64encode }}"
