---
apiVersion: v1
kind: Service
metadata:
  name: storage-service
  namespace: {{ storage_service_namespace }}
spec:
  selector:
    app: storage-service
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: http-port
