apiVersion: apps/v1
kind: Deployment
metadata:
  name: website
  namespace: {{ website_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app: website
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              topologyKey: failure-domain.beta.kubernetes.io/zone
              labelSelector:
                matchLabels:
                  app: website 
      containers:
      - name: website
        image: {{ ecr_url }}/old-website-html:999534782-main-c168bff3
        imagePullPolicy: Always
        ports:
        - name: http-port-app
          containerPort: 80
        resources:
          limits:
            cpu: "100m"
            memory: "100Mi"
          requests:
            cpu: "50m"
            memory: "50Mi"
        readinessProbe:
          httpGet:
            path: /
            port: http-port-app
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: http-port-app
          initialDelaySeconds: 30
          periodSeconds: 10
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: website
  namespace: {{ website_namespace }}
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: website
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: website
  namespace: {{ website_namespace }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: website
  minReplicas: 1
  maxReplicas: 2
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80
